.signature__body {
    position: relative;
    font-size: 10px;
    width: 150px;
    height: 150px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
    border-radius: 4px;
}

.signature__canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
}

.signature__clear {
    margin-top: 10px;
    font-size: 12px;
}

.m3-image {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 300px;
}

.m3-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.features span {
    border-radius: 15px;
    padding: 5px 10px;
    border: solid 1px #ccc;
    margin-right: 10px;
}