{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-md-8">
        <h1>About M3</h1>
        <p>Learn M3 is my final project for CS50. I really wanted to try something with machine learning, so I chose to make a simple image recognition interface. M3 is made with <a href="https://www.tensorflow.org">Tensorflow</a>, an open source machine learning platform.</p>
        <p>Special thanks goes out to the Youtube content creator <a href="https://www.youtube.com/channel/UCfzlCWGWYyIQ0aLC5w48gBQ">sentdex</a> for making a great Youtube series on how to make a simple image recognition machine learning app with Tensorflow. Also thanks to <a href="https://www.freepik.com/">Freepik</a> for the free images. And last but not least for <a href="https://www.harvard.edu/">Harvard university</a> for making this great course available for free!</p>
        <p><em>Jan Zoutendijk, september 2019</em></p>
        
    </div>
    <aside class="col-md-4">
        <div class="m3-image">
            <img src="static/images/m3-champ.svg" alt="M3 is a champ!">
        </div>
    </aside>
</div>

{% endblock %}
