{% extends "layout.html" %}

{% block title %}
    Create model
{% endblock %}

{% block main %}
    <form action="/create-model" method="post">
        <div class="form-group">
            <label for="features"><strong>Model name</strong></label>
            <small>(This identifies your model for later use)</small>
            <input autofocus class="form-control" name="model" placeholder="e.g. Basic shapes" type="text" maxlength="15">
            <small id="modelHelp" class="form-text text-muted">Must be between 2 and 15 characters long</small>
        </div>
        <div class="form-group">
            <label for="features"><strong>Number of features</strong></label>
            <small>(Features identify the different types of images you want to use for this model)</small>
            <select class="form-control" name="featuresCount" id="featuresCount">
                <option disabled selected value="">Select number</option>
                {% for i in range(4) %}
                {% set number = 2 + i %}
                <option value="{{ number }}">{{ number }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="features">

        </div>
        <button class="btn btn-primary" type="submit">Create model</button>
    </form>

    <script>
        const featuresCount = document.querySelector('#featuresCount');
        const features = document.querySelector('#features');

        featuresCount.addEventListener('change', (e) => {
            const count = e.target.value;
            let html = '<p>Describe you features</p>';

            for (let i = 0; i < count; i++) {
                html += '<div class="form-group">';
                html += '<input class="form-control" name="feature'+i+'" placeholder="e.g. Square" type="text" maxlength="15">'; 
                html += '<small class="form-text text-muted">Must be between 2 and 15 characters long and must be unique</small>';
                html += '</div>';
            }

            features.innerHTML = html;
        });

    </script>
{% endblock %}


