{% extends "layout.html" %}

{% block title %}
    Feed model
{% endblock %}

{% block main %}
    <div class="row">
        
        <div class="col-md-8">
            <h1>Feed model: <em>{{ model }}</em></h1>
            <p><strong>Number of existing feeds:</strong> {{ feed_count }}<br/>
            <span class="small">Most models require at least 30 feeds to be reliable.</span></p>
            <div class="alert alert-info" role="alert">Try to draw an accurate representation of the feature. It is important that M3 gets good data to train on!</div>
            <form action="/feed-model" method="post">

                <div class="row mb-4">
                    {% for feature in features %}
                    <div class="col-sm-6 col-lg-4 drawing mt-3">
                        <p><strong>Draw:</strong> {{ feature }}</p>
                        <div class="signature__body">
                            <canvas class="signature__canvas"></canvas>
                        </div>
                        <a href="#" class="btn btn-danger signature__clear">Clear</a>
                        <input type="hidden" name="{{ feature }}" class="image-data" />
                    </div>
                    {% endfor %}
                </div>

                <input type="hidden" name="model" value="{{ model }}"/>

                <button class="btn btn-primary" type="submit">Feed</button>
            </form>
        </div>
        <aside class="col-md-4">
            <div class="m3-image">
                <img src="static/images/m3-feed.svg" alt="M3 is confused">
            </div>
        </aside>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <script>
        (function() {
            const drawings = document.querySelectorAll(".drawing");
            const form = document.querySelector("form");

            function resizeCanvas(canvas) {
                var ratio =  window.devicePixelRatio || 1;
                canvas.width = canvas.offsetWidth * ratio;
                canvas.height = canvas.offsetHeight * ratio;
                canvas.getContext("2d").scale(ratio, ratio);
            }

            // Initiate SignaturePad for each drawing
            drawings.forEach( (drawing, index) => {
                const canvas = drawing.querySelector(".signature__canvas");     
                const clear = drawing.querySelector(".signature__clear");
                const signaturePad = new SignaturePad(canvas);

                clear.addEventListener('click', e => {
                    e.preventDefault();
                    signaturePad.clear();
                });

                resizeCanvas(canvas);
            });
            
            // https://stackoverflow.com/questions/17386707/how-to-check-if-a-canvas-is-blank
            function isCanvasBlank(canvas) {
                return !canvas.getContext('2d')
                    .getImageData(0, 0, canvas.width, canvas.height).data
                    .some(channel => channel !== 0);
            }

            form.addEventListener("submit", e => {
                e.preventDefault();

                for (let i = 0; i < drawings.length; i++) {
                    const drawing = drawings[i];
                    const imageData = drawing.querySelector(".image-data");
                    const canvas = drawing.querySelector(".signature__canvas"); 

                    // Check if canvas is blank
                    if(isCanvasBlank(canvas)) {
                        alert('Image is empty, please draw something!');
                        return false;
                    }

                    // Create white background
                    let ctx = canvas.getContext('2d');
                    ctx.fillStyle = 'white';
                    ctx.globalCompositeOperation = 'destination-over';
                    ctx.fillRect(0, 0, canvas.width, canvas.height);

                    // Add data to hidden field
                    imageData.value = canvas.toDataURL('image/jpeg');
                }


                form.submit();
            });
        })()
    </script>
{% endblock %}


