{% extends "layout.html" %}

{% block title %}
    Help
{% endblock %}

{% block main %}

    <h1>Help</h1>

    <h3 class="mt-5">Quick start</h3>
    <hr/>
    <h5 class="mt-3">1. Create a model</h5>
    <p><a href="/create-model">Start by creating a model</a>. This model will determine what you are going to learn M3.</p>
    <h5 class="mt-3">2. Feed model</h5>
    <p><a href="/models">Create data</a> (images) that M3 can use to make predictions.</p>
    <h5 class="mt-3">3. Train M3</h5>
    <p><a href="/models">Train M3</a> using the data you created.</p>
    <h5 class="mt-3">4. Test M3</h5>
    <p><a href="/models">Test M3</a> by giving it input and let it make a prediction.</p>
    <p><strong>Good luck!</strong></p>

    <h3 class="mt-5">What is a model?</h3>
    <hr/>
    <p>A model (in the context of this website) is an algorithm that takes in some data and outputs a prediction based on 
        that data. For instance, the input can be an image and the ouput can be the identifier (feature) of that image. 
        This app let's you easily make models yourself and feed data to it, so it learns to make accurate predictions.</p>
{% endblock %}
