{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-md-8">
        <h1>Start learning M3</h1>
    
        <p><strong>M3 is a simple machine, but with your help you can teach it more about the world!</strong></p>
        <p>M3 learns from models you can create yourself. You can feed images to the model and train M3 with that model. After that it can tell you the difference between those images.</p>
        <p><a href="/register" class="btn btn-primary">Start by registering an account</a> or <a href="/login" class="btn btn-success">Login</a> if you already have an account.</p>
    </div>
    <aside class="col-md-4">
        <div class="m3-image">
            <img src="static/images/m3-papers.svg" alt="M3 the self-learning robot">
        </div>
    </aside>
</div>

{% endblock %}
