{% extends "layout.html" %}

{% block title %}
    Models dashboard
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-8">
            <form action="/models" method="post">
                <div class="form-group">
                    <label for="features"><strong>Choose a model</strong></label>
    
                    <select class="form-control" name="model" id="model">
                        <option disabled selected value="">Select model</option>
                        {% for model in models %}
                        <option value="{{ model['name'] }}">{{ model['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary" name="action" type="submit" value="feed">Feed model</button>
                <button class="btn btn-primary" name="action" type="submit" value="train">Train M3</button>
                <button class="btn btn-primary" name="action" type="submit" value="test">Test M3</button>
                <a class="btn btn-success" href="/create-model">Create new model</a>
            </form>
        </div>

        <aside class="col-md-4">
            <div class="m3-image">
                <img src="static/images/m3-search.svg" alt="M3 is searching in the dark">
            </div>
        </aside>
    </div>
{% endblock %}


