{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control username" name="username" placeholder="Username" type="text">
            <div class="invalid-feedback">
                Username is not available
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Repeat password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>

    <script>

        const input = document.querySelector('.username');
        let availableUsername = false;

        input.onkeyup = function() {
            $.get('/check?username=' + input.value, function(data) {
                availableUsername = data;
                if(!availableUsername) {
                    input.classList.add('is-invalid');
                } else {
                    input.classList.remove('is-invalid');
                }
            });
        };

        document.querySelector('form').onsubmit = function() {
            if (!availableUsername) {
                alert('Username is already taken!');
                return false;
            }
            return true;
        };

    </script>
{% endblock %}