{% extends "layout.html" %}

{% block title %}
    Predict
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-8">
            <h1>Test M3 with the model <em>"{{ model }}"</em></h1>

            {% if prediction %}
            <div class="alert alert-primary" role="alert">I think it's a.... <strong>{{ prediction }}!</strong></div>
            <small>Hopefully I'm right? Else please feed the model some more images</small>
            {% endif %}

            <form class="mt-5" action="/test-model" method="post">
                <div class="form-group">
                    <div class="drawing">
                        <p>Draw one of the following features of this model:</p>
                        <div class="features">
                            {% for feature in features %}
                            <span><strong>{{ feature }}</strong></span>
                            {% endfor %}
                        </div>
                        <div class="signature__body">
                            <canvas class="signature__canvas"></canvas>
                        </div>
                        <a href="#" class="btn btn-danger signature__clear">Clear</a>
                        <input type="hidden" name="image" class="image-data" />
                    </div>
                </div>
                <input type="hidden" name="model" value="{{ model }}"/>
                <button class="btn btn-primary" type="submit">Test</button>
            </form>
        </div>
        <aside class="col-md-4">
            <div class="m3-image">
              <img src="static/images/m3-idea.svg" alt="M3 has an idea?">
            </div>
        </aside>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <script>
        (function() {

            function resizeCanvas(canvas) {
                var ratio =  window.devicePixelRatio || 1;
                canvas.width = canvas.offsetWidth * ratio;
                canvas.height = canvas.offsetHeight * ratio;
                canvas.getContext("2d").scale(ratio, ratio);
            }

            const form = document.querySelector("form");
            const imageData = document.querySelector(".image-data");
            const canvas = document.querySelector(".signature__canvas");     
            const clear = document.querySelector(".signature__clear");
            const signaturePad = new SignaturePad(canvas);

            resizeCanvas(canvas);
            
            clear.addEventListener('click', e => {
                e.preventDefault();
                signaturePad.clear();
            });

            // https://stackoverflow.com/questions/17386707/how-to-check-if-a-canvas-is-blank
            function isCanvasBlank(canvas) {
                return !canvas.getContext('2d')
                    .getImageData(0, 0, canvas.width, canvas.height).data
                    .some(channel => channel !== 0);
            }

            form.addEventListener("submit", e => {
                e.preventDefault();

                // Check if canvas is blank
                if(isCanvasBlank(canvas)) {
                    alert('Image is empty, please draw something!');
                    return false;
                }

                // Create white background
                let ctx = canvas.getContext('2d');
                ctx.fillStyle = 'white';
                ctx.globalCompositeOperation = 'destination-over';
                ctx.fillRect(0, 0, canvas.width, canvas.height);

                // Add data to hidden field
                imageData.value = canvas.toDataURL('image/jpeg');

                form.submit();
            });
        })()
    </script>
{% endblock %}


